// .portfolio{
//     text-align: center;
// }

#pocket-dudes-header, #haiku-header{
    margin-left: 45vw;
}

#movie-header{
    margin-left: 46vw;
}

.player{
    margin-left: 30vw;
    margin-top: 5vh;
    filter:url('#drop-shadow');

}
.description{
    padding: 2vh;
    display: inline-block;
    width: 38vw;
    margin-left: 30vw;
    text-align: center;
    margin-top: 5vh;
    border-radius: 25px;
    background-color: rgba(48, 84, 182, 0.411);
}


.portfolio a{
    font-size: 1.3em;
    display: inline-block;
    position: absolute;
    border-radius: 25vw;
    width: 8vw;
    height: 4vh;
    text-align: center;
    background-color: #5550bd51;
    text-decoration: none;
    color: black;
    
}

.frontend{
    margin-left: 37vw;

}

.backend{
    margin-left: 55vw;
}

#movie-rails-github{
    margin-left: 46vw;
}