
// body{

  
  // }
  .home{
  //  width: 100vh;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(-200deg, rgb(172, 172, 172) 20%, #470ca7 100%);
}

.about{
  height: 100vh;
}

.portfolio{
  height: 100vh;
}

.contact{
  height: 100vh;

}

.home span{
  color: rgb(67, 65, 65);
  font-size: 20vh;
    text-align: center;
    margin: 0 auto;
    margin-top: 35vh;
}