
body, html{
  height: 100%
}
  .home{
  height: 100vh;
  display: grid;
  grid-template-areas: 'profile    .      .'
                       'profile  header header'
                       'profile  title  title';
  
}


.home p{
  filter:url('#drop-shadow');
}

.about, .portfolio, .contact{
  height: 100vh;
}

.profile-pic{
  height: 100vh;
  grid-area: profile;
  // opacity: .9;
}


#title{
  grid-area: title;
  display: inline-block;
  color: rgb(67, 65, 65);
  font-size: 8vh;
  margin-top: 50vh;
  // padding: none;
  // margin-left: 50vw;
  filter:url('#drop-shadow');
  -webkit-animation: flip-2-ver-left-fwd 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-2-ver-left-fwd 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

.home .header{
  grid-area: header;
  display: inline-block;
  font-size: 15vh;
  color: rgb(67, 65, 65);
  width: 60vw;
  // align-self: center;
  margin-left: 40vw;
  margin-top: 20vh;
  -webkit-animation: flip-2-ver-left-fwd 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
	        animation: flip-2-ver-left-fwd 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

svg{
  display: none;
}

// #title:hover{

//   animation: pop-up 1s both;
// }



 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #78787889, 0 2px 0 #78787889, 0 3px 0 #78787889, 0 4px 0 #78787889, 0 5px 0 #78787889, 0 6px 0 #78787889, 0 7px 0 #78787889, 0 8px 0 #78787889, 0 9px 0 #78787889, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #78787889, 0 2px 0 #78787889, 0 3px 0 #78787889, 0 4px 0 #78787889, 0 5px 0 #78787889, 0 6px 0 #78787889, 0 7px 0 #78787889, 0 8px 0 #78787889, 0 9px 0 #78787889, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes flip-2-ver-left-fwd {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(160px) rotateY(180deg);
            transform: translateX(-100%) translateZ(160px) rotateY(180deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes flip-2-ver-left-fwd {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(160px) rotateY(180deg);
            transform: translateX(-100%) translateZ(160px) rotateY(180deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2021-3-11 11:40:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-2-ver-left-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes flip-2-ver-left-fwd {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(160px) rotateY(180deg);
            transform: translateX(-100%) translateZ(160px) rotateY(180deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes flip-2-ver-left-fwd {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
            transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: translateX(-100%) translateZ(160px) rotateY(180deg);
            transform: translateX(-100%) translateZ(160px) rotateY(180deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
